# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

wandb/
outs/
dev/
dataset/*
!dataset/seen_unseen_labels
.venv/
cptransformer*
optuna_cptransformer_naion*
checkpoints
runs.json