# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

wandb/
outs/
dev/
dataset/NA-ion
dataset/Life\ labels
dataset/processed
.venv/
cptransformer_naion*
optuna_cptransformer_naion*
checkpoints
runs.json